venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
*.db
*.db-journal
*.csv
.DS_Store

# project specific
data/**
metadata/**
reject/**
